# Example .env file
# You should replace these values and rename this file .env
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_USER=tatou
MARIADB_PASSWORD=tatou
SECRET_KEY=replace-with-a-random-signing-key
SALT=replace-with-a-random-salt
RMAP_SERVER_PRIVATE_KEY_PASS=replace-with-the-private-key-passphrase
WATERMARKING_MASTER_KEY=replace-with-a-random-watermarking-key
FLAG_2=my_flag2
